@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
#logo_text {
    position: absolute;
    width: 284px;
    height: 51px;
    left: 40px;
    top: 20px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 96px;
}

#greet {
    position: absolute;
    width: 363px;
    height: 78px;
    left: 50px;
    top: 300px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 67px;

    color: #686868;

}
#offline {
    position: absolute;
    width: 490px;
    height: 122px;
    left: 44px;
    top: 340px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 150px;
}

#bodytxt {
    position: absolute;
    width: 629px;
    height: 87px;
    left: 44px;
    top: 460px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;

    color: #686868;
}

#signuphome {
    position: absolute;
    width: 660px;
    height: 139px;
    left: 44px;
    top: 600px;

    background: #38A755;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 100px 0px;

    font-family: Poppins;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
}

#homeabs {
    position: absolute;
    width: 665px;
    height: 651px;
    left: 1100px;
    top: 180px;
}

#loginbtn {
    position: absolute;
    width: 265px;
    height: 61px;
    left: 1380px;
    top: 20px;

    background: #38A755;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 80px;

    font-family: Poppins;
    font-weight: bolder;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;

    color: #FFFFFF;
}

#yoga_text {
    position: absolute;
    background-color: #FFFFFF;
    left: 1108px;
    top: 35px;
    border: 0px;
    border-radius: 10px;
    box-shadow: 5px;
    font-weight: bolder;
    font-family: Poppins;
    font-weight: bold;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
}

#mhbtn {

    position: absolute;
    left: 880px;
    top: 35px;
    background-color: #FFFFFF;

    font-weight: bolder;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;

    border: 0px;
    border-radius: 10px;
    box-shadow: 5px;
    color: #000000;
}

#campusbtn {
    position: absolute;
    left: 710px;
    top: 35px;
    background-color: #FFFFFF;

    font-weight: bolder;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;

    border: 0px;
    border-radius: 10px;
    box-shadow: 5px;
    color: #000000;
}