@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
#Find {
    position: absolute;
width: 416px;
height: 267px;
left: 292px;
top: 373px;

font-family: Ruluko;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 74px;
text-align: center;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#Name {
    position: absolute;
width: 144px;
height: 24px;
left: 836px;
top: 289px;

font-family: Ruluko;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #000000;
position: absolute;
width: 327px;
height: 49px;
left: 836px;
top: 324px;

background: #000000;
border-radius: 20px;
}
#insid {
    position: absolute;
width: 144px;
height: 24px;
left: 836px;
top: 384px;

font-family: Ruluko;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #000000;
position: absolute;
width: 327px;
height: 49px;
left: 836px;
top: 420px;

background: #000000;
border-radius: 20px;
}
#cpass {
    position: absolute;
width: 190px;
height: 24px;
left: 836px;
top: 480px;

font-family: Ruluko;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #000000;
position: absolute;
width: 327px;
height: 49px;
left: 836px;
top: 517px;

background: #000000;
border-radius: 20px;
}
#cfpass {
    position: absolute;
width: 190px;
height: 24px;
left: 836px;
top: 578px;

font-family: Ruluko;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #000000;
position: absolute;
width: 327px;
height: 49px;
left: 836px;
top: 613px;

background: #000000;
border-radius: 20px;
}
#signbt {
    position: absolute;
width: 134px;
height: 34px;
left: 933px;
top: 695px;

background: #7A85F4;
border-radius: 20px;
}
#asup {
    position: absolute;
width: 288px;
height: 28px;
left: 856px;
top: 762px;

font-family: Ruluko;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
/* identical to box height */

text-align: center;

color: #000000;
}